body {
	background-color: rgba(22,34,57,0.85);
	color: white;
}

#content {
  margin: 20px;
}

a:link {
  color: #f5a425
}

a:hover {
  opacity: 0.8;
}

a:visited {
  color: #f5a425
}

#welcome {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.tab-bar {
  width: 100%;
  margin: auto;
}

.tablink {
  width:33%;
  height: 60px;
  font-size: 22px;
  border-radius: 5px;
  border-color: white;
}

.tablink:hover {
  background-color: #f5a425;
  border-color: #f5a425;
  transition: all 0.3s ease;
}

.active {
  background-color: #f5a425;
  border-color: #f5a425;
}

.tab-zone {
  background-image: url("images/tabs-background.jpg");
  background-color: rgba(22,34,57,0.85);
  height: 450px;
}

.tab-image{
  width: 500px;
  float: left;
  margin: 50px;
}

.tab-text1 {
  padding: 100px;
  font-size: 22px;
}

#tab-text2 {
  padding: 50px;
  font-size: 20px;
}

#tab-text2 p {
  margin-bottom: 20px;
}

.tab-text1 p {
  margin-bottom: 20px;
}

#about{
  margin: 50px 20px 0px 20px;
}

.row {
  margin-top: 50px;
}
/* Three columns side by side */
.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #f5a425;
}